.backround-home {
  background: url(images/looking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.backround-contact {
  background-color: rgb(41, 223, 236);
}

.backround-por {
  background-color: rgb(8, 221, 175);
}

.pics {
  margin-bottom: 3%;
}

.profolio-cards {
  max-width: 50%;
}

.card {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* main > .container {
  padding: 60px 15px 0;
} */
