.backround {
  background: url(images/looking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.backround-about {
  background-color: turquoise;
}

.about-me-main {
  box-sizing: border-box;
  background-color: white;
  margin-top: 2%;
}

.index-main {
  box-sizing: border-box;
  background-color: white;
  margin-top: 1%;
}

.pics {
  margin-bottom: 3%;
}

.profolio-cards {
  margin: 100%;
}

.card {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* .pics-pro {
  max-width: 50px;
  max-height: 50px; */
